*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}
body {
    background-image: url('../css/imagens/backgrounf.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.conteudo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    color: aliceblue;
    font-size: 2em;
    text-align: center;
}

header {
    background: #fff;
    color: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 5px #555;
}
header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
header nav ul a{
    text-decoration: none;
    color: rgb(174, 101, 242);
    font-weight: 400;
}
.spotify{
    width: 45px;
    height: auto;
}
.github{
    width: 45px;
    height: auto;
}
.alura{
    width: auto;
    height: 45px;
}
.chatgpt{
    width: 45px;
    height: auto;
    
}