*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: whitesmoke;
}
header {
    background: #fff;
    color: #333;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 5px #555;
}
header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
header nav ul a{
    margin-left: 20px;
}